.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: $color-gray-dark;
  width: 100%;
  padding: 10rem 2rem 1rem 2rem;
  margin-top: -5.3rem;
  margin-bottom: 2rem;
  &__credit {
    color: $color-white;
    font-size: 1.6rem;

  }

  &__heart {
    color: red;
    font-size: 2rem;
  }
}