.u-blur {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
}

.u-show-big-screens {
  @include respond(big-desktop) {
    display: flex !important;
  }

  @include respond(tab-land) {
    display: none !important;
  }
}

.u-show-small-screens {
  @include respond(tab-land) {
    display: flex !important;
  }

  @include respond(big-desktop) {
    display: none !important;
  }
}